@font-face {
  font-family: norse;
  src: url(./imgfonts/Norse-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  transition: transform 300ms ease-in;
}
html {
  box-sizing: border-box;
  background: #f0f0f0;
}
h1 {
  font-family: norse;
  font-weight: bold;
  font-size: 80px;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

i {
  font-weight: 900;
}
.side-content {
  background: url(./imgfonts/brian-stevens-xIUnvjHdtsc-unsplash.jpg) 50%
    no-repeat;
  background-size: cover;
  width: 35vw;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-content-header {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.odin-icon {
  width: 4em;
}
.hero {
  margin: 20px 0;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-header {
  word-wrap: break-word;
  margin: 10px 30px;
}

.hero-text div {
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  justify-content: left;
  width: 100%;
  padding: 20px 0;
}

.form div {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-grow: 2;
}

label {
  font-size: 10px;
  font-weight: 100;
  color: #888888;
  margin: 10px 0;
}

fieldset {
  border: none;
}
input {
  min-width: 150px;
  width: 20vw;
  max-width: 400px;
  border: #f0f0f0;
  height: 20px;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  padding: 5px;
}

.sign-part {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
}

button {
  background-color: #596d48;
  color: white;
  border: none;
  max-width: 200px;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 20px 30px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.lastName:focus {
  border: 1px solid #117a34;
}

.sign-part {
  margin: 20px auto 50px;
}
a {
  text-decoration: none;
  color: #596d48;
  margin: 5px;
}
a:hover {
  display: inline-block;
  transform: scale(1.1) rotate(360deg);
}

input:focus {
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  outline: none;
}

input:invalid:focus {
  border: 2px solid rgb(255, 69, 100);
}
input:focus:valid {
  border: 2px rgb(0, 183, 255) solid;
}

footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    width: 100vw;
  }
  input {
    width: 50vw;
  }
  .side-content-header {
    top: 0%;
  }
  .side-content {
    max-height: 150px;
    width: 100vw;
  }
  .hero {
    width: 100vw;
  }
  .form div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .sign-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
}
